:root {
	--header-size: 60px;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

h1 {
	margin: 0;
}

#header h1 {
	color: white;
}

#header {
	position: fixed;
	z-index: 2;
	width: 100%;
	height: var(--header-size);
	background-color: black;
}

#footer {
	text-align: center;
	z-index: 2;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 300px;
	background-color: navy;
}

ul.btns {
	font-size: 0px;
	list-style: none;
	position: absolute;
	right: 30%;
	bottom: 10%;
}

ul.btns li {
	display: inline-block;
}

.main {
	padding-top: var(--header-size);
	width: 100%;
	height: 100%;
}

/*--------------------------���ʗp-------------------------------------*/

/*--------------------------768-------------------------------------*/

@media screen and (max-width: 768px) {
	#header {
		height: 50px;
	}
	ul.btns {
		right: 15%;
	}

	#footer {
		height: 50px;
	}
}
/*--------------------------768-------------------------------------*/

/*--------------------------480-------------------------------------*/

@media screen and (max-width: 480px) {
	#header h1 {
		font-size: x-large;
	}

	#header {
		height: 40px;
	}

	ul.btns li {
		display: none;
	}

	#footer {
		height: 40px;
	}

	.hamburger {
		height: 35px;
	}

	.hamburger span:nth-child(1) {
		top: 6px;
	}

	.hamburger span:nth-child(2) {
		top: 15px;
	}

	.hamburger span:nth-child(3) {
		top: 24px;
	}
}
